<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BookChef</display-name>
  <welcome-file-list>
    <welcome-file>BookChef.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminServ</display-name>
    <servlet-name>AdminServ</servlet-name>
    <servlet-class>com.r3sys.BookChef.AdminServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServ</servlet-name>
    <url-pattern>/AdminServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServ</display-name>
    <servlet-name>AdminLoginServ</servlet-name>
    <servlet-class>com.r3sys.BookChef.AdminLoginServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServ</servlet-name>
    <url-pattern>/AdminLoginServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChefLoginServ</display-name>
    <servlet-name>ChefLoginServ</servlet-name>
    <servlet-class>com.r3sys.BookChef.ChefLoginServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChefLoginServ</servlet-name>
    <url-pattern>/ChefLoginServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterChef</display-name>
    <servlet-name>RegisterChef</servlet-name>
    <servlet-class>com.r3sys.BookChef.RegisterChef</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterChef</servlet-name>
    <url-pattern>/RegisterChef</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginServ</display-name>
    <servlet-name>UserLoginServ</servlet-name>
    <servlet-class>com.r3sys.BookChef.UserLoginServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServ</servlet-name>
    <url-pattern>/UserLoginServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUserServ</display-name>
    <servlet-name>RegisterUserServ</servlet-name>
    <servlet-class>com.r3sys.BookChef.RegisterUserServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUserServ</servlet-name>
    <url-pattern>/RegisterUserServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookChefData</display-name>
    <servlet-name>BookChefData</servlet-name>
    <servlet-class>com.r3sys.BookChef.BookChefData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookChefData</servlet-name>
    <url-pattern>/BookChefData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Portfolio</display-name>
    <servlet-name>Add_Portfolio</servlet-name>
    <servlet-class>com.r3sys.BookChef.Add_Portfolio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Portfolio</servlet-name>
    <url-pattern>/Add_Portfolio</url-pattern>
  </servlet-mapping>
</web-app>